@font-face {
    font-family: 'quadrata';
    src: url('../fonts/fritz-reg.eot');
    src: local('☺'), url('../fonts/fritz-reg.woff') format('woff'), url('../fonts/fritz-reg.ttf') format('truetype'), url('../fonts/fritz-reg.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Grotesk';
    src: url('../fonts/AtlasGrotesk-Bold.eot');
    src: local('☺'), url('../fonts/AtlasGrotesk-Bold.woff') format('woff'), url('../fonts/AtlasGrotesk-Bold.ttf') format('truetype'), url('../fonts/AtlasGrotesk-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Grotesk';
    src: url('../fonts/AtlasGrotesk-Regular.eot');
    src: local('☺'), url('../fonts/AtlasGrotesk-Regular.woff') format('woff'), url('../fonts/AtlasGrotesk-Regular.ttf') format('truetype'), url('../fonts/AtlasGrotesk-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
