.nav-right{
    top: 7%;
    right: 4.86%;
    z-index: 2;
}
    .nav-right__menu{
        width: 28px;
        height: 80px;
        &.nav-right__menu--dark{
            .icon-question{
                @extend .icon-dark-question;
            }
            .icon-progress{
                @extend .icon-dark-progress;
            }
        }
    }
    .nav-right__menu--item {
        display: inline-block;
        &:first-child{
            margin-bottom: 40px;
        }
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        &.active{
            -webkit-transform: rotate(90deg);
            .icon-question{
                @extend .icon-active-question;
            }
            .icon-progress{
                @extend .icon-active-progress;
            }
        }
    }
