@import "compass/utilities/sprites";
@import "icon/*.png";
@include all-icon-sprites;

.icon{
    display: block;
}

.icon-down-arrow{
    width: 30px;
    height: 30px;
    &:hover {
        opacity: 0.9;
        -webkit-animation: 0.375s ease-in-out;
    }
}

.icon-question, .icon-active-question{
    width: 28px;
    height: 18px;
}

.icon-progress, .icon-active-progress{
    width: 28px;
    height: 10px;
}

.icon-file, .icon-picture, .icon-video{
    width: 36px;
    height: 35px;
    opacity: 0.5;
    &.active{
        opacity: 1;
    }
}
