/* KEYFRAMES */
@-webkit-keyframes fade{
    0%{ opacity: 1; }
    100%{ opacity: 0.4; }
}

/* OVERLAYS */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.block-picto {
    position: absolute;
    left: calc(100% / 3);
}

.block-picto__chapter{
    position: absolute;
    top: -59px;
    left: (100% / 2.4);
}

.block-picto__chapter--exemple{
    position: absolute;
    top: -20px;
    left: (100% / 2.4);
}


    .block-picto--image, .block-picto__chapter--image {
        width: 100%;
    }

.overlay {
    z-index: 1;
    background: rgba($black-color, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 1;
    -webkit-animation: fadeIn 1s;
    &.hidden{
        display: none;
    }
}
    .container__inner--overlay{
        position: relative;
        margin-top: 11%;
    }

/* FAKE YET */
.fake-video {
    height: 400px;
    width: 100%;
    display: block;
    background: red;
}

/* GLOBALS */
.layout {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    //min-width: 1300px;
}

.icon-down-arrow{
    margin: 35px auto 0px;
    -webkit-animation: fade 1.2s infinite alternate;
}

/* HOME SLIDE */

    .layout--home{
        background: image-url('bg-home.jpg') no-repeat;
        background-size: cover;
        top: 0%;
    }

    .container__inner--home{
        position: absolute;
        top: 22%;
        width: 100%;
    }

    @media (min-width: 768px) {
        .container__inner--home {
            max-width: 750px;
        }
    }

    @media (min-width: 992px) {
        .container__inner--home {
            max-width: 970px;
        }
    }

    @media (min-width: 1200px) {
        .container__inner--home {
            max-width: 1170px;
        }
    }

/* CHAPTERS */

    .layout--chapter{
        background: image-url('bg-home.jpg') no-repeat;
        background-size: cover;
        top: 100%;
    }

/* SLIDES */
#home {
    top: 0%;
}

#chapter-1 {
    top: 100%;
}

#chapter-2 {
    top: 600%;
}

#chapter-3 {
    top: 1000%;
}

#chapter-4 {
    top: 1400%;
}

#slide-1 {
    top: 200%;
}

#slide-2 {
    top: 300%;
}

#slide-3 {
    top: 400%;
}

#slide-4 {
    top: 500%;
}

#slide-5 {
    top: 700%;
}

#slide-6 {
    top: 800%;
}

#slide-7 {
    top: 900%;
}

#slide-8 {
    top: 1100%;
}

#slide-9 {
    top: 1200%;
}

#slide-10 {
    top: 1300%;
}

#slide-11 {
    top: 1500%;
}

    .layout--slide-text{
        @include gradient($white-color, darken($white-color, 0.5));
    }

    .layout--slide-video{
        @include gradient($white-color, darken($white-color, 0.5));
    }

/* LIST */
    .media-list__item{
        float: left;
        margin-right: 25px;
    }

