
.timeline {
	.slide-timeline {
		display: none;
		&.chapter-circle {
			border-radius: 50%;
			background-color: transparent;
			width: 10px;
			height: 10px;
			border: 3px solid $blue-color;
			margin: 0 auto;
			.circle-content {
				background-color: $blue-color;
				width: 100%;
				display: block;
				position: relative;
				-webkit-transition: height .5s ease;
				height: 0px;
			}
		}
		&.show {
			display: block;
			.circle-content {
				height: 100%;
			}
		}

		&.slide-nav {
			background-color: $blue-color;
			width: 3px;
			height: 30px;
			margin: 0 auto;
			-webkit-transition: -webkit-transform .5s ease;
			&.slide-viewed {
				margin-top: -2px;
			}
			&.slide-current {
				border-radius: 5px;
				-webkit-transform: rotate(90deg);
				.circle-content {
					height: 0px;
				}
			}
		}
	}
	&.dark {
		.slide-nav {
			background-color: $blue-color;
		}
		.chapter-circle {
			border: 3px solid $blue-color;
		}
		.circle-content {
			background-color: $blue-color;
		}
	}
}
