/* VARS */
$base-font-size: 13px;

$white-color: #fff;
$black-color: #000;
$grey-home-color: #686868;
$blue-color: #0060e4;
$small-grey-color: #f7f7f7;
$dark-grey-color: #333;

.mar-bot-50{
    margin-bottom: 50px;
}

.mar-bot-150{
    margin-bottom: 150px;
}

.mar-bot-80{
    margin-bottom: 80px;
}

.mar-bot-35{
    margin-bottom: 35px;
}
