/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "bootstrap/grid";
@import "fonts";
@import "variables";
@import "mixins/functions";
@import "sprites";

@import "typography/typography";
@import "nav";
@import "templates";
@import "timeline";

/* GLOBAL */
body {
    color: $white-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'quadrata';
}

a:hover{
    text-decoration: none;
    color: $white-color;
}

.layout, .overlay{
//    min-width: 1300px;
}

.fixed {
    position: fixed;
}
