@import "variables";
@import "fonts";
@import "typography/typography";

* {
    text-align: left !important;
    color: $black-color !important;
    display: block !important;
    position: relative !important;
}

.layout, .overlay {
    padding: 50px 0px;
    border-bottom: 1px dashed $black-color;
}

.mar-bot-50, .mar-bot-150, .mar-bot-80, .mar-bot-35{
    margin-bottom: 0px;
}

a, embed, script, nav, object, iframe{
    display: none !important;
}

li {
    list-style-type: disc !important;
}
