.trailer-double {
    line-height: em(40px);
}
.trailer-small{
    margin-bottom: 10px;
}

.align-center {
    text-align: center;
}

.align-right{
    text-align: right;
}

.align-left{
    text-align: left;
}

.heading-1{
    font-family: 'quadrata';
    font-size: em(60px);
    text-transform: uppercase;
}

    .heading-1--red {
        color: $blue-color;
    }

.heading-2{
    font-family: 'Grotesk';
    font-size: em(14px);
}
    .heading-2--home {
        color: $grey-home-color;
    }

.heading-3{
    font-family: 'quadrata';
    font-size: em(25px);
    text-transform: uppercase;
}

    .heading-3--chapter{
        margin: 1.9em 0;
        line-height: em(16px);
    }

.heading-4{
    font-family: 'quadrata';
    font-size: em(20px);
    line-height: em(18px);
    text-transform: uppercase;
}

    .heading-4--red {
        color: $blue-color;
    }

.heading-5{
    font-family: 'quadrata';
    font-size: em(12px);
    text-transform: uppercase;
}

    .heading-5--red {
        color: $blue-color;
    }


.lnk {
    display: block;
    font-family: 'Grotesk';
    text-transform: uppercase;
    font-size: em(12px);
    text-decoration: none;
}

    .lnk--white {
        text-align: center;
        color: $white-color;
    }

.strong{
    font-weight: bold;
}

.text {
    font-family: 'Grotesk';
    font-size: em(11px);
    line-height: em(22px);
    text-align: justify;
}
    .text--white{
        color: $white-color;
    }
    .text--grey{
        color: $dark-grey-color;
    }

.list-points {
    .text {
        list-style-type: disc;
        margin-bottom: 10px;
    }
}
